doctype html
html
  head
    title My ToDO List 
    meta(charset='utf-8')
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block forms 
    block todo 
    block done
